.scrollBtn {
  position: fixed;
  background: #83aaff;
  color: #fff;
  bottom: 20px;
  right: 20px;
  border: none;
  height: 45px;
  width: 45px;
  font-size: 22px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  cursor: pointer;
}

.scrollBtn:hover {
  background-color: #7298ea;
}

.scroll-top.show {
  display: block;
}


@media (max-width: 380px) {
  .scrollBtn {
    bottom: 7px;
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 340px) {
  .scrollBtn {
    bottom: 6px;
    font-size: 17px;
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 300px) {
  .scrollBtn {
    bottom: 8px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    right: 15px;
  }
}